<h1><%= @user.first_name %> <%= @user.last_name%>'s Skills</h1>

  <ol>
  <% @skills.each do |s| %>
    <tr>
      <li><%= s.name %><span> - </span>
      <%= s.level %></span></li>
  <% end %>
    </ol>
