/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* NAVIGATION BAR STYLES */
nav {
  margin: 20px 0 10px 0;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline;
}
nav li a {
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  background-color: #00e5ee;
  padding: 10px;
  margin: 1px;
  border-radius: 5px;
}

nav li a:hover {
  background-color: #00e5ff;
}

/* CONTAINER STYLES */
.container {
  margin: 10px;
}

/* Make links look like Buttons */
.link_button a {
  text-decoration: none;
  color: black;
  background-color: #00c5dd;
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
}

.link_button a:hover {
  background-color: #00c5ff;
}

.new_button a {
  background-color: #00c957;
}

.new_button a:hover {
  background-color: #00e957;
}

.delete_button a {
  background-color: orange;
}

.delete_button a:hover {
  background-color: #ff7d40;
}
