<!DOCTYPE html>
<html>
<head>
  <title>TryingOutRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Skills</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
<div class="container">
<%= yield %>
</div><!--container-->
</body>
</html>
